<div class="index-body">
  <%= render partial: "navbar" %>
  <div class="container mt-5">
    <div class="d-flex flex-wrap">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card card-index bg-dark text-white">
              <% if cocktail.photo.attached? %>
                <%= cl_image_tag cocktail.photo.key %>
              <% else %>
                <%= image_tag('frozen.jpg') %>

              <% end %>
              <div class="card-img-overlay">
                <h5 class="card-title"><%= cocktail.name %></h5>
              </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
</div>
