<%= render partial: "navbar" %>
<div class="card-category dose-bg">
.</div>
<div class="container mt-5">
  <div class="card card-new p-5">
    <div>
      <h1><%= @cocktail.name %></h1>
    </div>
    <div>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
